VITE_SLEEPER_LEAGUE_ID=1398145266615345152
VITE_SUPABASE_URL=https://iimmjxnjkkzejwgxofsk.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=
SLEEPER_LEAGUE_ID=1398145266615345152
ZOOM_VIDEO_SDK_KEY=
ZOOM_VIDEO_SDK_SECRET=
ZOOM_VIDEO_SDK_TOPIC=Stroudy Draft Night
